{erl_opts, [debug_info]}.
{deps, [
         {control,{git,"https://github.com/joq62/control.git",{branch,"main"}}},
         {resource_discovery,{git,"https://github.com/joq62/resource_discovery.git",{branch,"main"}}},
	 {log,{git,"https://github.com/joq62/log.git",{branch,"main"}}},
	 {etcd,{git,"https://github.com/joq62/etcd.git",{branch,"main"}}}
       ]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [log_control_provider]}
]}.
{relx, [
    {release, {log_control_provider, "0.1.0"}, [log, etcd, resources_discovery, control,control_provider]}
]}.
